/.venv
/.env
/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.ini
*.cfg
*.bak
*.tmp
*.swp
.DS_Store
.idea/
.vscode/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/ 
.cpython-*/
.__pycache__/